.wrapper {
    display: flex;
    padding: 20px 0;
    color: var(--text-color);
    max-width: 800px;
    min-width: 500px;
    max-height: calc(100vh - var(--default-layout-header-height));
    border-bottom: 1px solid rgba($color: var(--border-color-main), $alpha: 0.1);
    // scroll-snap-align: center;
}

// phần chứa avt
.avatar {
    .avt-img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
    }
}

//Phần chứa content tên nhạc và video
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    overflow: hidden;
}

//Phần header chứa tên và nickname
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.des {
    padding-right: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

.author {
    cursor: pointer;
    display: flex;
    align-items: baseline;

    &:hover .nickname {
        text-decoration: underline;
    }
}

.nickname {
    font-family: var(--font-familt-support);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    margin-right: 4px;
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: rgb(32, 213, 236);
}

.fullname {
    margin-left: 4px;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    line-height: 28px;
}

.content-des {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    .content-des--more {
        float: right;
        clear: both;
        position: absolute;
        right: 0;
        bottom: 0px;
        -webkit-box-align: center;
        padding: 3px 16px;
        font-weight: 600;
        background-color: var(--white);
        display: none;
    }

    &.ismore {
        max-height: 90px;
    }

    &.ismore .more {
        display: block;
    }

    &.isless {
        max-height: 180px;
    }

    &.isless .group-content {
        max-height: 180px;
        overflow-y: scroll;
    }

    &.isless .less {
        display: block;
    }
}

.capcut {
    display: flex;
    align-items: center;
    height: 26px;
    margin-top: 4px;

    .capcut-logo {
        width: 24px;
        height: 24px;
        object-fit: cover;
    }

    .capcut-content {
        cursor: pointer;
        font-weight: 600;
        background-color: rgb(241, 241, 241);
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 2px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-left: 6px;
    }

    .capcut-content:hover {
        text-decoration: underline;
    }
}

.sound {
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    -webkit-transition: color 250ms;
    transition: color 250ms;
    text-decoration: none;

    &:hover .name-sound {
        text-decoration: underline;
    }
}

.sound-icon {
    margin-right: 4px;
}

.name-sound {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.button-btn {
    margin-top: 7px;
    padding: 4px 20px !important;
}

//Phafnaf body chứa video và các button actions
.body {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.action-btn {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;

    & strong {
        font-family: var(--font-familt);
        color: rgba(22, 24, 35, 0.75);
        font-size: 12px;
        line-height: 17px;
        text-align: center;
    }
}

.action-btn-icon {
    position: relative;
    margin: 8px 0 6px;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: var(--border-color-main), $alpha: 0.06);
    border-radius: 50%;
}
