// Menu wrapper
.menu-list {
    width: 234px;

    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

// Menu item
.menu-item {
    width: 100%;
    justify-content: start;
    border-radius: 0;
    padding: 11px 16px;

    &:hover {
        background-color: rgba($color: var(--border-color-main), $alpha: 0.05);
    }
}
